.footer {
  color: #98AFBA;
  background-color: #344A53;
  max-width: 100%;
  padding: 30px;
  position: absolute;
  bottom: 0;
  height: 200px;

  .social-media {
    border-radius: 5px;
    height: 30px;
    width: 30px;
  }
}