#header {
  height: 100%;    
  background-color: #344A53;

  #parallax {
    background-image: url('../../../images/ReginaBooks.jpeg');
    width: auto;
    height: 600px;
    opacity: 0.5;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
  }

  #parallax-name {
    position: fixed;
    text-align: center;
    top: 80px;
    color: rgb(156, 156, 156);
    font-size: 74px;
    width: 100%;

    p {
      font-family: 'Jost', sans-serif;
      text-shadow: 4px 4px 6px black;
    }
  }
}

@media only screen and (max-width: 815px) {
  #parallax {
    background-position: center;
  }
}