.body {
  padding: 55px 0px;
  .regina-image {
    border-radius: 50%;
    width: 400px;
    height: 400px;
  }

  #header-content {
    font-size: 60px;
  }

  .about-content {
    padding-top: 25px;
  }
}
