@mixin webkit($lineClamp) {
  display: -webkit-box;
  -webkit-line-clamp: $lineClamp;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin boxShadow($opacity) {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, $opacity), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.article {
  @include boxShadow(0.2);
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;

  @-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
 
  @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }

  border: 1px solid white;
  border-radius: 5px;
  height: 500px;
  width: 400px;
  padding: 25px;
  margin: 25px;
  display: inline-block;
  overflow: hidden;
  transition: 0.3s;

  &:hover {
    @include boxShadow(0.6);
    text-decoration: none;
  }

  .article-text {
    color: #344A53;
    padding: 15px;

    .article-title {
      @include webkit(2);
      max-height: 72px;
      position: relative;
    }

    .article-date-publication {
      @include webkit(4);
      max-height: 22px;
      font-size: 12px;
      font-weight: 900;
    }

    .article-description {
      @include webkit(4);
      p {
        margin: 0;
      }
    }
  }
}